#version=RHEL8
# Kickstart for RHEL Installation
# (or Rocky Linux for born2beroot)

%pre
#!/bin/bash

# Clear existing partitions
parted -s /dev/sda mklabel msdos

# Create primary /boot partition
parted -s /dev/sda mkpart primary ext4 1MiB 501MiB
parted -s /dev/sda set 1 boot on

# Create the extended partition
parted -s /dev/sda mkpart extended 501MiB 100%

# Create logical partition inside the extended partition
parted -s /dev/sda mkpart logical 502MiB 100%
%end

# Use text install mode
text

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# System timezone
timezone Europe/Lisboa --utc

# Network configuration
network --bootproto=dhcp --onboot=on --activate --hostname hbourlot42

# Root password
rootpw Toninhodoleite2  # Make sure to replace with your desired password

# Group creation
group --name=user42
group --name=sudo

# User creation (sudo group only for born2beroot evaluation sheet)
user --name=hbourlot --password=Matadordealuguel2 --plaintext --groups=wheel,user42,sudo --gecos="Hugo Arthur Bourlot" --shell=/bin/bash

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# # Partition clearing information
# clearpart --all --initlabel --drives=sda

# Disk partitioning information
part /boot --fstype=ext4 --size=500 --asprimary --onpart=sda1
part pv.01 --size=1 --grow --encrypted --label=sda5_crypt --fstype=luks --passphrase=Laele123456 --onpart=sda5
volgroup LVMGroup pv.01
logvol / --vgname=LVMGroup --size=10240 --name=root --fstype=ext4
logvol swap --vgname=LVMGroup --size=2355 --name=swap
logvol /var/log --vgname=LVMGroup --size=4096 --name=var-log --fstype=ext4
logvol /tmp --vgname=LVMGroup --size=3072 --name=tmp --fstype=ext4
logvol /srv --vgname=LVMGroup --size=3072 --name=srv --fstype=ext4
logvol /var --vgname=LVMGroup --size=3072 --name=var --fstype=ext4
logvol /home --vgname=LVMGroup --size=5120 --name=home --fstype=ext4

# # Installation destination
# install --driveorder=sda

# Repo information: adjust this for your mirror or local repo
# url --url="http://my.mirror.com/rhel8"
cdrom

# System authorization information
auth --useshadow --enablemd5

# Do not configure the X Window System
skipx

# Enable kdump
%addon com_redhat_kdump --disable
%end

# Create repositories
repo --name=BaseOS --baseurl=https://download.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os/
repo --name=AppStream --baseurl=https://download.rockylinux.org/pub/rocky/9/AppStream/x86_64/os/

# Software selection
%packages
@core
%end
